<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apod List</title>
</head>
<body>
    <h1>List of APODs</h1>
    <ul id="apod-list"></ul>
    {% for apod in apod_packages %}
        <li>
            <div class="apod">
                <h2>Date: {{ apod.date }}</h2>
                <h3>{{ apod.title }}</h3>
                <img src="{{ apod.url }}" alt="{{ apod.title }}">
                <p>{{ apod.explanation }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
